//Variables colores Brawl Stars
$azulBS: #0a73e5;
$rojoBS: #ff0000;

//Variables de colores
//$blue:    #0d6efd;
$red:     #dc3545;
$yellow:  #ffc107;
$green:   #198754;
$cyan:    #0dcaf0;

//Escala de grises
$gray-100: #f8f9fa;
$gray-600: #6c757d;
$gray-800: #343a40;
$gray-900: #212529;


//Variables generales
$primary:       $azulBS;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $rojoBS;
$light:         $gray-100;
$gray:          $gray-800;
$dark:          $gray-900;

//Variable que contiene todos los colores
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  //Añadido:
  "gray":       $gray
);
@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.textoBS-primary{
    font-family: 'Lilita One', cursive;
}

//Barra de navegación

#barraNav{
    padding: 12pt 40pt;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    box-shadow: #212529;
}

#shLogoNavbar{
    width: 100pt;
}

#navbarSupportedContent{
    margin-left: 30pt;
    font-size: 15pt;
}

#navbarSupportedContent ul{
    margin-left: 30pt;
}